<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486179191681-5dav1t812qhpjeqribdnmfmjhnkr6plm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486179191681-5dav1t812qhpjeqribdnmfmjhnkr6plm</string>
	<key>API_KEY</key>
	<string>AIzaSyBGfWy-4jGApj0m9IV7xUHHkqOS_leM2ho</string>
	<key>GCM_SENDER_ID</key>
	<string>486179191681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>taiyo.co.PushNotiDemo</string>
	<key>PROJECT_ID</key>
	<string>kavsoft-notification-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>kavsoft-notification-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486179191681:ios:008658aa2eaec454574680</string>
</dict>
</plist>